/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

h2 {
    margin-top: 20px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
